# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Build output
dist/
build/
.next/
.nuxt/
.svelte-kit/
.output/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Logs
npm-debug.log*
.vercel
